body {
    background-color: rgb(196, 196, 196);
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: rgb(211, 211, 211);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(48, 48, 48);
    color: white;
}